// Colors
$color-black: #212121;
$color-lightest-gray: #FCFCFC;
$color-lighter-gray: #D7D7D7;
$color-light-gray: #C5C5C5;
$color-dark-gray: #686868;
$color-blue: #1539E6;
$color-dark-blue: #193047;
$color-gold: #FF9F35;

// Typography
$font-heading: "Questrial", sans-serif;
$font-text: "Noto Sans", sans-serif;
$font-size-nav: 17px;
$font-size: 16px;

// Layout
$page-background: #FFF;
$container-max-width: 1300px;

// Typography
$text-color: $color-dark-gray;
