@import "_fonts.scss";
@import "_variables.scss";
@import "_utils.scss";
@import "_layout.scss";

/* Body */
body {
  font-family: $font-text;
  font-size: $font-size;
  background: $page-background;
  color: $text-color;
  margin: 0;
}

/* Headings */
h1, h2, h3, h4 {
  font-weight: 500;
  font-family: $font-heading;
  color: $color-black;
}
h1 {
  font-size: 38px;
}
h2 {
  font-size: 28px;
}

/* Links and buttons */
a, button {
  color: $color-black;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }
}
a {
  text-decoration: underline;
}

/* Buttons */
.button {
  padding: 14px 28px;
  border-radius: 4px;
  background: $color-lighter-gray;
  color: $color-black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  border: 0;
  cursor: pointer;
  display: inline-block;

  &.primary {
    background: #1539E6;
    color: white;
  }

  &:focus, &:active {
    outline: 0;
  }

  &.small {
    font-size: 16px;
    padding: 10px 12px;
  }
}

/* Inputs */
input, textarea {
  padding: 14px 20px;
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  font-size: $font-size + 2;
  color: #8C8C8C;

  &:focus {
    outline: 0;
  }
}

/* Images */
img {
  max-width: 100%;
}

/* Header */
.header {
  background: $color-lightest-gray;
  padding: 48px 20px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 44px;
    max-width: none;
  }

  nav a {
    margin-left: 44px;
    color: $color-dark-blue;
    text-decoration: none;
    padding: 0 10px;
    font-size: $font-size-nav;

    &.active {
      color: $color-black;
      border-bottom: 2px solid $color-gold;
    }
  }
}

/* Footer */
.footer {
  text-align: center;

  img {
    margin: 90px 0;
  }

  .copyright {
    background: $color-lightest-gray;
    color: $color-light-gray;
    padding: 36px 0;
    font-size: 14px;
  }
}

/* All sections */
.section {
  .section-title {
    font-size: 40px;
    margin-bottom: 0;
  }
  .section-subtitle {
    color: $color-black;
    font-size: 20px;
    max-width: 800px;
    margin-top: 30px;
  }
  .section-body {
    margin-top: 0;
    max-width: 660px;
  }
}

.section.s404 {
  h3 {
    line-height: 30px;
  }
}

/* Hero */
.hero {
  h1 {
    color: $color-blue;
    font-family: $font-heading;
    margin-top: 55px;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
    color: $color-black;
    line-height: 34px;
    margin-top: 20px;
  }
  .cta {
    margin-top: 50px;

    .button:first-child {
      margin-right: 20px;
    }
  }
}

/* Newsletter */
.newsletter {
  background-image: url("/assets/images/geometric-pattern.png");
  background-size: contain;
  background-color: $color-lightest-gray;

  h2 {
    margin-bottom: 30px;
  }

  p {
    color: $color-black;
    margin-bottom: 30px;
  }

  button {
    margin-left: 20px;
  }

  a.muted {
    margin-top: 30px;
    color: $color-dark-gray;
    text-decoration: underline;
  }
}

/* Experience timeline */
.experience-timeline {
  border-left: 2px solid $color-gold;
  margin-top: 40px;
  margin-left: 50px;

  img {
    margin-right: 10px;
    height: 16px;
  }

  .job {
    > div {
      margin-bottom: 20px;

      &:not(.headline) {
        padding-left: 115px;
      }
    }

    .headline {
      display: flex;
      align-items: center;
      .company {
        font-size: 22px;
        color: $color-black;
      }
      .timeframe {
        font-size: 14px;
        margin-left: 15px;
      }
      &:before {
        content: '';
        display: block;
        height: 2px;
        width: 100px;
        background: $color-gold;
        margin-right: 15px;
      }
    }

    .position {
      font-size: 18px;
      color: $color-black;
    }

    .position, .description, .stack {
      img {
        vertical-align: top;
        margin-top: 4px;
      }
      div {
        display: inline-block;
        max-width: 800px;
      }
    }
  }
}

/* Security section */
.security {
  ul {
    list-style-type: none;
    padding-left: 30px;
  }

  li {
    margin-bottom: 10px;
    font-size: 18px;

    &:before {
      content: '•';
      display: inline-block;
      margin-right: 10px;
      font-size: 18px;
      color: $color-gold;
    }
  }
}

/* Mediumable */
.mediumable-publication {
  margin-top: 50px;

  .mediumable-post {
    max-width: 800px;
    position: relative;
    margin-bottom: 30px;

    &:before {
      position: absolute;
      top: 0;
      left: -15px;
      content: '';
      width: 4px;
      height: 100%;
      background: $color-lighter-gray;
      display: block;
    }

    .mediumable-title {
      font-size: 24px;
    }
    .mediumable-subtitle {
      margin-top: 10px;
    }
  }
}

/* Projects */
ul.projects {
  list-style-type: none;
  max-width: 800px;

  li {
    margin-top: 30px;

    > div {
      margin-top: 10px;
    }

    .name {
      font-size: 24px;
      color: $color-black;
    }
    .actions {
      margin-top: 14px;
    }
    .button.primary {
      margin-right: 10px;
    }

  }
}

/* Contact */
.contact {
  border: 1px solid $color-lighter-gray;
  border-radius: 4px;
  background-image: url('/assets/images/geometric-pattern.png');
  background-size: 20%;
  background-color: $color-lightest-gray;

  > .container {
    width: 100%;
    max-width: 500px;
  }

  h2 {
    margin-bottom: 20px;
  }

  input, textarea {
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    color: $color-black;
  }

  textarea {
    min-height: 100px;
  }

  .separator {
    margin: 20px 0;
  }

  .social {
    a {
      background: white;
      border: 1px solid $color-light-gray;
      border-radius: 100%;
      padding: 12px 12px;
      font-size: 0;
    }
    a:first-child {
      margin-right: 20px;
    }
    img {
      height: 20px;
      width: 20px;
    }
  }
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .section {
    padding: 40px 0;

    .section-title {
      font-size: 28px;
    }
  }
  .container {
    padding: 0 26px;
  }

  h2 {
    text-align: center;
  }

  .menu {
    display: none;
  }

  .hero {
    h1 {
      margin-top: 25px;
    }
    p {
      font-size: 18px;
      line-height: normal;
    }
    .cta .button{
      width: 80%;
      margin-top: 10px;

      &:first-child {
        margin: 0;
      }
    }
  }

  .experience-timeline {
    margin-left: 0;

    .job .headline:before {
      width: 30px;
    }
    .job >div:not(.headline) {
      padding-left: 50px;
    }
  }

  .footer {
    .footer-image {
      padding: 0 20px;

      img {
        margin: 40px 0;
      }
    }
    .copyright {
      padding: 30px 20px;
    }
  }

  .mediumable-publication {
    .mediumable-post {
      .mediumable-title {
        font-size: 18px;
      }
    }
  }
}
