.section.s404
  .content
    .row
      img.center(src='/assets/images/404.svg')
    h1.center-content 404
    h3.center-content
      | Whoops. Looks like what you're looking for can't be found.
      br
      a(href='/') Click here
      |  to go back to the home page.
