.section
  .container
    .row
      h2.section-title.underlined Latest articles
    .row
      div.mediumable-publication(data-handle='neculaesei')
    .row
      a.button.small(href="https://medium.com/neculaesei") Read more articles on Medium

script(src='https://mediumable.com/mediumable.js')
