.section
  .container
    .row
      h2.section-title.underlined Contact
    .row
      p.section-subtitle
        | I enjoy exchanging ideas and building great things with others, reach out if there's anything you think we can build together.
    .row
      p.section-body
        | There are a few ways of reaching out to me. I prefer that you use this contact form, however you can also PM me on LinkedIn or Twitter.
    .row
      input(placeholder="Your name" name="name")
    .row
      input(placeholder="Your email" name="email")
    .row
      textarea(placeholder="Message" name="message")
    .row
      input.button.primary(type="submit" value="Send message")
