.section
  .container
    .row
      h2.section-title.underlined My projects
    .row
      h3.section-subtitle 
        | Currently remaking this page, check my 
        a(href="https://github.com/neculaesei") GitHub
    .row
      ul.projects
        //- li
        //-   div.name Mediumable
        //-   div.description
        //-     | Mediumable allows you to integrate a Medium blog on any website.
        //-   div.actions
        //-     a.button.primary.small Project website
        //-     a.button.small(href='https://github.com/neculaesei/Mediumable') Source code
        //- li
        //-   div.name Playlister
        //-   div.description
        //-     | Playlister takes the songs you add and creates an online music
        //-     | player you can share with your friends.
        //-   div.actions
        //-     a.button.primary.small Project website
        //-     a.button.small(href='https://github.com/neculaesei/Playlister') Source code
            
