.section
  .container
    .row
      h2.section-title.underlined Thank you for reaching out
    .row
      p.section-subtitle
        | I'll get back to you as soon as possible.
    .row
      a.button.primary.small(href="/") Go back to the homepage
